__pycache__/
.DS_Store
data/
*.ipynb_checkpoints
*.csv
tweet_scrapes/
*.code-workspace
/models/artist2vec/v2
/models/song2ec
texts.pkl
song_dict.pkl
.cache*
scraper.ipynb
spotify_data_collection.py
models/
.vscode/
*.model
new_dataset/
.ipynb_checkpoints
.python-version
word2vec.model.trainables.syn1neg.npy
word2vec.model.wv.vectors.npy
